{% extends 'base.html' %}

{% block content %}
  <h1>Detail</h1><hr>
  <h1>글 번호 : {{article.pk}} </h1>
  <h1>글 제목: {{article.title}} </h1>
  <p>글 내용: {{article.content}} </p><br>
  {% if article.image %}
    <img src="{{article.image.url}}" alt="{{article.image}}">
  {% endif %}
  <p>글 생성시각: {{article.created_at}} </p><br>
  <p>글 수정시각: {{article.updated_at}} </p><br>

  <div class=''>
    <form action="{% url 'articles:delete' article.pk %}" method="POST" class='d-flex justify-content-end'>
      {% csrf_token %}
      <a class='btn btn-primary me-3' href="{% url 'articles:update' article.pk %}">
      EDIT
      </a>
      <button class='btn btn-danger '>DELETE</button>
    </form>
  </div><hr>
  <div class='d-flex justify-content-end'>
      <a class='btn btn-primary' href="{% url 'articles:index'%}">
        BACK
      </a>
  </div>
{% endblock content %}

